body{
    background-color: #e9ddbc;
    position: relative;
    height: 100vh;
}

.faixa-header{
    background-color: brown;
    position: absolute;
    height: 80px;
    width: 100%;
    top: 70px;
    z-index: -1;

}

.btn-sair{
    position: absolute;
    right: 10px;
    top: 30px;    
}


.btn-sabadin{
    background-color: #a52a2a;
    color: white;
}

.btn-sabadin:hover{
    background-color: #662b12;
    color: white;
}

.logo{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
}

.menu-principal{
    background-color: #a52a2a;
    border-radius: 10px;
}

.menu-principal a{
    color: white;
}

.menu-principal a:hover{
    color: black;
}